<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emse.QMagic.WebTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QMagicEntities" connectionString="data source=LAPTOP-2NL6NMQA\SQLEXPRESS;initial catalog=QMagic;user id=sa;password=Emse@1980;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Emse.QMagic.WebTerminal.Properties.Settings>
      <setting name="AR_PleaseSignIn" serializeAs="String">
        <value>الرجاء تسجيل الدخول</value>
      </setting>
      <setting name="EN_PleaseSignIn" serializeAs="String">
        <value>Please Sign In</value>
      </setting>
      <setting name="AR_SignIn" serializeAs="String">
        <value>تسجيل الدخول</value>
      </setting>
      <setting name="EN_SignIn" serializeAs="String">
        <value>Sign In</value>
      </setting>
      <setting name="AR_RememberMe" serializeAs="String">
        <value>تذكرنى</value>
      </setting>
      <setting name="EN_RememberMe" serializeAs="String">
        <value>Remember Me</value>
      </setting>
      <setting name="AR_Username" serializeAs="String">
        <value>اسم المستخدم</value>
      </setting>
      <setting name="EN_Username" serializeAs="String">
        <value>Username</value>
      </setting>
      <setting name="AR_Password" serializeAs="String">
        <value>كلمة المرور</value>
      </setting>
      <setting name="EN_Password" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="AR_MoreInformation" serializeAs="String">
        <value>معلومات اكثر</value>
      </setting>
      <setting name="EN_MoreInformation" serializeAs="String">
        <value>More Information</value>
      </setting>
      <setting name="AR_TicketClosed" serializeAs="String">
        <value>التذكرة مغلقة</value>
      </setting>
      <setting name="EN_TicketClosed" serializeAs="String">
        <value>Ticket Closed</value>
      </setting>
      <setting name="AR_Next" serializeAs="String">
        <value>التالي</value>
      </setting>
      <setting name="EN_Next" serializeAs="String">
        <value>Next</value>
      </setting>
      <setting name="AR_Recall" serializeAs="String">
        <value>يتذكر</value>
      </setting>
      <setting name="EN_Recall" serializeAs="String">
        <value>Recall</value>
      </setting>
      <setting name="AR_Hold" serializeAs="String">
        <value>يمسك</value>
      </setting>
      <setting name="EN_Hold" serializeAs="String">
        <value>Hold</value>
      </setting>
      <setting name="AR_Transfer" serializeAs="String">
        <value>تحويل</value>
      </setting>
      <setting name="EN_Transfer" serializeAs="String">
        <value>Transfer</value>
      </setting>
      <setting name="AR_NoShow" serializeAs="String">
        <value>لا تظهر</value>
      </setting>
      <setting name="EN_NoShow" serializeAs="String">
        <value>No Show</value>
      </setting>
      <setting name="AR_Close" serializeAs="String">
        <value>يغلق</value>
      </setting>
      <setting name="EN_Close" serializeAs="String">
        <value>Close</value>
      </setting>
      <setting name="AR_Logout" serializeAs="String">
        <value>تسجيل خروج</value>
      </setting>
      <setting name="EN_Logout" serializeAs="String">
        <value>Logout</value>
      </setting>
      <setting name="AR_WaitingList" serializeAs="String">
        <value>قائمة الانتظار</value>
      </setting>
      <setting name="EN_WaitingList" serializeAs="String">
        <value>Waiting List</value>
      </setting>
      <setting name="AR_HoldTickets" serializeAs="String">
        <value>حجز التذاكر</value>
      </setting>
      <setting name="EN_HoldTickets" serializeAs="String">
        <value>Hold Tickets</value>
      </setting>
      <setting name="AR_GenerateTicket" serializeAs="String">
        <value>توليد تذكرة</value>
      </setting>
      <setting name="EN_GenerateTicket" serializeAs="String">
        <value>GenerateTicket</value>
      </setting>
      <setting name="AR_Service" serializeAs="String">
        <value>خدمة</value>
      </setting>
      <setting name="EN_Service" serializeAs="String">
        <value>Service</value>
      </setting>
      <setting name="AR_Segment" serializeAs="String">
        <value>شريحة</value>
      </setting>
      <setting name="EN_Segment" serializeAs="String">
        <value>Segment</value>
      </setting>
      <setting name="AR_Generate" serializeAs="String">
        <value>يولد</value>
      </setting>
      <setting name="EN_Generate" serializeAs="String">
        <value>Generate</value>
      </setting>
      <setting name="AR_Loading" serializeAs="String">
        <value>تحميل...</value>
      </setting>
      <setting name="EN_Loading" serializeAs="String">
        <value>Loading...</value>
      </setting>
      <setting name="AR_TicketInformation" serializeAs="String">
        <value>معلومات البطاقة</value>
      </setting>
      <setting name="EN_TicketInformation" serializeAs="String">
        <value>Ticket Information</value>
      </setting>
      <setting name="AR_TicketPreview" serializeAs="String">
        <value>معاينة التذكرة</value>
      </setting>
      <setting name="EN_TicketPreview" serializeAs="String">
        <value>Ticket Preview</value>
      </setting>
      <setting name="AR_PrintTime" serializeAs="String">
        <value>وقت الطباعة</value>
      </setting>
      <setting name="EN_PrintTime" serializeAs="String">
        <value>Print Time</value>
      </setting>
      <setting name="AR_WaitingTime" serializeAs="String">
        <value>وقت الانتظار</value>
      </setting>
      <setting name="EN_WaitingTime" serializeAs="String">
        <value>Waiting Time</value>
      </setting>
      <setting name="AR_TicketNote" serializeAs="String">
        <value>مذكرة تذكرة</value>
      </setting>
      <setting name="EN_TicketNote" serializeAs="String">
        <value>Ticket Note</value>
      </setting>
      <setting name="AR_CustomerInformation" serializeAs="String">
        <value>معلومات العميل</value>
      </setting>
      <setting name="EN_CustomerInformation" serializeAs="String">
        <value>Customer Information</value>
      </setting>
      <setting name="AR_Name" serializeAs="String">
        <value>اسم</value>
      </setting>
      <setting name="EN_Name" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="AR_Surname" serializeAs="String">
        <value>اسم العائلة</value>
      </setting>
      <setting name="EN_Surname" serializeAs="String">
        <value>Surname</value>
      </setting>
      <setting name="AR_HealthCardID" serializeAs="String">
        <value>معرف البطاقة الصحية</value>
      </setting>
      <setting name="EN_HealthCardID" serializeAs="String">
        <value>Health Card ID</value>
      </setting>
      <setting name="AR_UniqueID" serializeAs="String">
        <value>الهوية القطرية</value>
      </setting>
      <setting name="EN_UniqueID" serializeAs="String">
        <value>Qatar ID</value>
      </setting>
      <setting name="AR_BirthDate" serializeAs="String">
        <value>تاريخ الميلاد</value>
      </setting>
      <setting name="EN_BirthDate" serializeAs="String">
        <value>Birth Date</value>
      </setting>
      <setting name="AR_Phone" serializeAs="String">
        <value>هاتف</value>
      </setting>
      <setting name="EN_Phone" serializeAs="String">
        <value>Phone</value>
      </setting>
      <setting name="AR_Gender" serializeAs="String">
        <value>جنس</value>
      </setting>
      <setting name="EN_Gender" serializeAs="String">
        <value>Gender</value>
      </setting>
      <setting name="AR_Nationality" serializeAs="String">
        <value>جنسية</value>
      </setting>
      <setting name="EN_Nationality" serializeAs="String">
        <value>Nationality</value>
      </setting>
      <setting name="AR_CustomerNote" serializeAs="String">
        <value>ملاحظة الزبون</value>
      </setting>
      <setting name="EN_CustomerNote" serializeAs="String">
        <value>Customer Note</value>
      </setting>
      <setting name="AR_TicketNoShow" serializeAs="String">
        <value>تذكرة لا تظهر</value>
      </setting>
      <setting name="EN_TicketNoShow" serializeAs="String">
        <value>Ticket No Show</value>
      </setting>
      <setting name="AR_Ticket" serializeAs="String">
        <value>تذكرة</value>
      </setting>
      <setting name="EN_Ticket" serializeAs="String">
        <value>Ticket</value>
      </setting>
      <setting name="AR_Call" serializeAs="String">
        <value>يتصل</value>
      </setting>
      <setting name="EN_Call" serializeAs="String">
        <value>Call</value>
      </setting>
      <setting name="AR_TicketParked" serializeAs="String">
        <value>حجز التذاكر</value>
      </setting>
      <setting name="EN_TicketParked" serializeAs="String">
        <value>Ticket Hold</value>
      </setting>
      <setting name="AR_TicketTransferred" serializeAs="String">
        <value>تم تحويل التذكرة</value>
      </setting>
      <setting name="EN_TicketTransferred" serializeAs="String">
        <value>Ticket Transferred</value>
      </setting>
      <setting name="AR_Served" serializeAs="String">
        <value>خدم</value>
      </setting>
      <setting name="EN_Served" serializeAs="String">
        <value>Served</value>
      </setting>
      <setting name="AR_ThereIsNoWaitingInYourQueue" serializeAs="String">
        <value>ليس هناك انتظار في قائمة الانتظار الخاصة بك</value>
      </setting>
      <setting name="EN_ThereIsNoWaitingInYourQueue" serializeAs="String">
        <value>There is no waiting in your queue.</value>
      </setting>
      <setting name="AR_TicketDirectlyTransferred" serializeAs="String">
        <value>يتم نقل التذكرة مباشرة إلى الخدمة المعينة.</value>
      </setting>
      <setting name="EN_TicketDirectlyTransferred" serializeAs="String">
        <value>Ticket directly transferred to designated service.</value>
      </setting>
      <setting name="EN_WaitingTicket" serializeAs="String">
        <value>Waiting Ticket</value>
      </setting>
      <setting name="AR_WaitingTicket" serializeAs="String">
        <value>التذكرة مغلقة</value>
      </setting>
    </Emse.QMagic.WebTerminal.Properties.Settings>
  </applicationSettings>
  <!--<system.webServer>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>-->
</configuration>
<!--ProjectGuid: 9DA2ECCC-7450-46EF-991E-BB5A8C7759B1-->