@{
    Layout = null;
    int rett = ViewBag.retturn;

    if(rett == 1)
    {
        <center>
            <i class="fa fa-check" style="font-size:64px;"></i><br />
            <h2>Trigger successfully created.</h2>
        </center>
    }
}