@using Emse.QMagic.Web.Models;
@{
    Layout = null;
}

<form action="../GenerateTicket/DoCreateRule" method="post" id="PostRule" name="PostRule">
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="txtRuleName" name="txtRuleName" placeholder="Rule Name" class="form-control" width="100%" style="width:100%;" />
        </div>
    </div>
</form>