@using Emse.QMagic.Web.Models;
@{
    ViewBag.Title = "Votebook Selection";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>QMagic Votebook</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/flat-admin.css">
    <link rel="icon" href="~/assets/qmagic.ico">
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        $(document).ready(function () {
            $(document).on('change', "#lstVotebook", function () {
                $("#BtnSubmit").removeClass("btn-disabled");
                $("#BtnSubmit").addClass("btn-primary");

                $("#form1").attr("action", "/VirtualVotebook/Votebook");
            });
        });

        function SubmitForm() {
            $("#form1").submit();
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>

        <div class="col-md-8">
            <form name="form1" id="form1" action="#" method="post" style="">
                <input type="hidden" name="txtTicket" id="txtTicket" value="@(ViewBag.TicketID)" />
                <select name="lstVotebook" id="lstVotebook" style="">
                    @{
                        if (ViewBag.selectedvotebook != null)
                        {
                            qmVotebook vote = ViewBag.selectedvotebook;
                            <option value="@vote.VotebookID">@vote.VotebookName</option>
                            <script>
                                $("#form1").attr("action", "/VirtualVotebook/Votebook");
                                $("#form1").submit();
                            </script>
                        }
                    }
                </select>
            </form>




            <div class="panel panel-default">
                <div class="panel-body" id="MainArea">
                    @{
                        if (ViewBag.selectedvotebook != null)
                        {
                            <center>
                                <p><img src='~/assets/images/wand-magic.png' /></p>
                                <h3>Starting virtual votebook application...</h3>
                                <p>If It is taking so long you can just <a href="javascript:SubmitForm();">click here</a> to redirect to virtual votebook application.</p>
                            </center>
                        }
                        else
                        {
                            <center>
                                <p><img src='~/assets/images/wand-magic.png' /></p>
                                <h3>Votebook could not be determined. </h3>
                                <p>Please get a static I.P. address and assign this device as a votebook using via QMagic Management Studio.</p>
                                <p>Your IP : @(ViewBag.IP)</p>
                            </center>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>