@{
    Layout = null;

    string CalledMessage = ViewBag.BagMessage;
    string InterBag = ViewBag.InterBag;
    string vbmessage = ViewBag.VotebookMessage;
}

<script>
    signalRHub.server.send('@(CalledMessage)').fail(function (e) {
        alert(e.message);
    });

    signalRHub.server.interSend('@(InterBag)').fail(function (e) {
        alert(e.message);
    });
</script>

<table width='100%' height='180'>
    <tr>
        <td align='center' valign='center'>
            <p>&nbsp;</p>
            <p><img src='../assets/images/loading2.gif' /></p>
            <p style="font-size:24px; font-family:'Segoe UI'; font-weight:lighter;">Please wait while getting ticket informations.</p>
        </td>
    </tr>
</table>

<script>
    var jsvbmessage = '@(vbmessage)';
    if (jsvbmessage !== '') {
        const vbooks = '@(vbmessage)'.split('$');
        for (let i = 0; i < vbooks.length; i++) {
            signalRHub.server.send(vbooks[i]).fail(function (e) {
                alert(e.message);
            });
        }

        if (IsVotebookEnabled) {
            signalRHub.server.send('CutVoting(' + MyVotebookID + ','+@(ViewBag.ticketid)+')');
        }
    }
</script>