
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12" id="thfield">
        <h2>Welcome to QMagic Studio!</h2>
    <p>Live Dashboard has been moved to this link below.</p>
    <a href="~/Home/LiveDashboard" class="btn btn-danger"><i class="fa fa-dashboard"></i> Live Dashboard</a>
        <!--<p align="center">
        <img src="~/assets/images/loading2.gif" />
        <h3 align="center">Loading...</h3>
    </p>
    <script>
        $(document).ready(function () {
            $.post("Home/LiveDashboardContent", function (data) {
                $("#thfield").html(data);
            });
        });
    </script>-->
    </div>
</div>