@using Emse.QMagic.Web.Models;
@{
    Layout = null;

    List<qmSegment> segmentList = ViewBag.segments;
    List<qmService> serviceList = ViewBag.services;

    int i = 0;
    foreach (qmSegment item in segmentList)
    {
        <tr>
            <td onclick="TransferToService(@item.SegmentID);" align="left" class="MnItem">
            @serviceList.Where(x=>x.ServiceID == item.ServiceID).FirstOrDefault().ServiceName @item.SegmentName
            </td>
        </tr>

        i++;
    }
}